{% if discounts %}
<div class="panel-success">
  <h3 class="panel-heading">Discounts and Complimentary Items</h3>
    <div class="panel-body">
      <blockquote>
        <p>The following discounts and complimentary items are available to you. If you wish to take advantage of this offer, you must choose your items below. This discounts will be applied automatically when you check out.</p>
        {% regroup discounts by discount.description as discounts_grouped %}
        {% for discount_type in discounts_grouped %}
        <h4>{{ discount_type.grouper }}</h4>
        <ul>
          {% for discount in discount_type.list %}
            <li>{{ discount.quantity }} &times; {{ discount.clause }}</li>
          {% endfor %}
        </ul>
      {% endfor %}
    </blockquote>
    <hr />
  </div>
</div>

{% endif %}
