{% extends "site_dark.html" %}

{% load i18n %}

{% block head_title %}{% trans "Submit A Proposal" %}{% endblock %}
{% block header_title %}Submit A Proposal{% endblock %}

{% block content %}
    {% if kinds %}
        <h1>New Proposal</h1>
        <p>Select what kind of proposal you'd like to submit:</p>
        {% for kind in kinds %}
            <h2>{{ kind }}</h2>
            <a class="btn btn-lg btn-secondary" role="button" href="{% url "proposal_submit_kind" kind.slug %}">{{ kind }}</a>
        {% endfor %}
    {% else %}
        <h1>Proposals are not currently open for submission.</h1>
    {% endif %}
{% endblock %}
