{% extends "symposion/proposals/base.html" %}

{% load i18n %}

{% block head_title %}{% trans 'Cancel Proposal' %}{% endblock %}
{% block page_title %}Cancel: {{ proposal.title }}{% endblock %}

{% block proposals_body %}
    <form class="form-horizontal" method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <p>Are you sure you want to cancel <b>{{ proposal.title }}</b>?</p>
        <input class="btn btn-danger" type="submit" value="I am sure" />
        <a class="btn btn-default" href="{% url "proposal_detail" proposal.pk %}">{% trans 'No, keep it for now' %}</a>
    </form>
{% endblock %}
