{% extends "symposion/proposals/base.html" %}

{% block head_title %}Editing {{ proposal.title }}{% endblock %}
{% block page_title %}Editing: {{ proposal.title }}{% endblock %}

{% block proposals_body %}
  <p><a href="{% url "proposal_speaker_manage" proposal.pk %}">Manage speakers</a></p>

  <form class="form-horizontal" method="POST" action="" enctype="multipart/form-data">
      {% csrf_token %}
      <fieldset>
        {% include "_form_snippet.html" with form=form %}
        <input class="btn btn-primary" type="submit" value="Save" />
        <a class="btn btn-default" href="{% url "proposal_detail" proposal.pk %}">Cancel</a>
      </fieldset>

  </form>
{% endblock %}
