{% extends "symposion/proposals/base.html" %}

{% load i18n %}

{% block page_title %}{% trans 'Proposal:' %} {{ proposal.title }}{% endblock %}
{% block head_title %}{% trans 'Proposal:' %} {{ proposal.title }}{% endblock %}

{% block proposals_body %}
    <h2 class="my-5">{% trans 'Current Speakers' %}</h2>

    {% for speaker in speakers %}
        {% if speaker.user %}
            <p><b>{{ speaker.name }}</b> &mdash; {{ speaker.email }}</p>
        {% else %}
            <p>{{ speaker.email }} &mdash; {% trans 'pending invitation' %}</p>
        {% endif %}
    {% endfor %}

    <h3 class="mt-5">{% trans 'Add another speaker' %}</h3>

    <form class="form-horizontal" method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset>
          {% include "_form_snippet.html" with form=add_speaker_form %}
            <input type="submit" value="Add speaker" class="btn btn-primary"/>
            <a href="{% url "proposal_edit" proposal.pk %}" class="btn btn-light">{% trans 'Cancel' %}
        </fieldset>
    </form>
{% endblock %}

{% block extra_body %}
    <script type="text/javascript">
    $(function() {
        $("#id_email").focus();
    });
    </script>
{% endblock %}
