{% extends "site_base.html" %}
{% load staticfiles %}

{% load i18n %}

{% block body_class %}reviews{% endblock %}

{% block body_outer %}
<div class="row text-primary">
    <div class="col-md-4">
        {% block sidebar %}
        {% for section in review_sections %}
        <div class="card card-default mb-4">
            <div class="card-header">
                <h3 class="card-title">{{ section }}</h3>
            </div>
            <div class="list-group">
                <a class="list-group-item review-list" href="{% url "review_section" section.section.slug %}">
                    {% trans "All Reviews" %}
                </a>
                {% comment %}
                <li>
                    <a href="{% url "review_section_assignments" section.section.slug %}">
                        {% trans "Your Assignments" %}
                    </a>
                </li>
                {% endcomment %}
                <a class="list-group-item user-reviewed" href="{% url "user_reviewed" section.section.slug %}">
                    {% trans "Reviewed by you" %}
                </a>
                <a class="list-group-item user-not-reviewed" href="{% url "user_not_reviewed" section.section.slug %}">
                    {% trans "Unreviewed by you" %}
                </a>
                <a class="list-group-item user-random" href="{% url "user_random" section.section.slug %}">
                    {% trans "Random unreviewed proposal" %}
                </a>
                <a class="list-group-item voting-status" href="{% url "review_status" section.section.slug %}">
                    {% trans "Voting Status" %}
                </a>
                {% if request.user.is_staff %}
                <a class="list-group-item review-results" href="{% url "result_notification" section.section.slug 'accepted' %}">Result Notification</a>
                {% endif %}
            </div>
        </div>
        {% endfor %}
        {% endblock %}
    </div>
    
    
    <div class="col-md-8">
        {% block body %}
        {% endblock %}
    </div>
</div>

{% endblock %}
{% block extra_script %}
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"/>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<script type="text/javascript">
    $("table.table-reviews").dataTable({
        "stateSave": true,
        "lengthMenu": [[10, 50, 100, -1], [10, 50, 100, "All"]],
        "pageLength": 100,
        "colReorder": true,
        "buttons": [{
            extend: 'collection',
            text: 'Export',
            buttons: ["copy", "csv", "print"]
        },
        { extend: 'collection',
        text: 'Columns',
        buttons: [
        { extend: 'columnsToggle',
        columns: '.toggle' },
        { extend: 'columnToggle',
        text: 'Vote details',
        columns: '.votes'
    }
    ]
}]});
</script>
{% endblock %}
