{% extends "symposion/schedule/public_base.html" %}

{% load lca2018_tags %}
{% load sitetree %}
{% load staticfiles %}
{% load thumbnail %}
{% load i18n %}


{% block head_title %}Session: {{ session }}{% endblock %}

{% block breadcrumbs %}{% sitetree_breadcrumbs from "main" %}{% endblock %}

{% block header_inset_image %}{{ block.super }}{% endblock %}

{% block header_background_image %}{{ block.super }}{% endblock %}

{% block header_title %}Session: {{ session }}{% endblock %}

{% block header_paragraph %}

{% endblock %}

{% block content %}

  <dl class="dl-horizontal">
    <dt>{% trans "Session Chair" %}</dt>
    <dd>
        {% if chair %}
            {{ chair.attendee.attendeeprofilebase.attendeeprofile.name }}
            {% if request.user == chair %}
                <form method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="role" value="un-chair" />
                    <input type="submit" value="Opt out" class="btn btn-info"/>
                </form>
            {% endif %}
        {% else %}
            {% if request.user.is_authenticated %}
                {% if request.user.attendee.completed_registration %}
                    {% if not chair_denied %}
                        <form method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="role" value="chair" />
                            <input type="submit" class="btn btn-success" value="Volunteer to be session chair"/>
                        </form>
                    {% endif %}
                {% else %}
                    {% url 'guided_registration' as guided_registration %}
                    <a href="{{ guided_registration }}">Click here to get a ticket for the conference,</a> and enable volunteering for session roles.
                {% endif %}
            {% else %}
              Sign up and <a href="/saml2/login/?next={{ request.path }}">log in</a> to volunteer to be session chair.
            {% endif %}
        {% endif %}
    </dd>
    <dt>{% trans "Session Runner" %}</dt>
    <dd>
        {% if runner %}
          {{ runner.profile.display_name }}
        {% else %}
          {% blocktrans %}Session runner not assigned.{% endblocktrans %}
        {% endif %}
    </dd>
  </dl>

  <h2>Slots</h2>

  <table class="table">
    {% for slot in session.slots.all %}
      <tr>
          <td>{{ slot }}</td>
          <td>{% if slot.content %}<a href="{% url 'schedule_presentation_detail' slot.content.pk %}">{{ slot.content }}</a>{% endif %}</td>
      </tr>
    {% empty %}
      <li>{% trans "No slots in session." %}</li>
    {% endfor %}
  </table>

{% endblock %}
