{% if user.is_staff %}
<div class="container">
  <h2>Administration</h2>
  <div class="page-row">
    <div class="col-xs-12">
      <a class="btn btn-lg btn-info" role="button" href="{% url "reports_list" %}">Reports</a>
    </div>
  </div>
</div>
{% endif %}

<div class="container">
  <div class="col-12">
    <h2>{% trans "Attend" %} {% conference_name %}</h2>
  </div>
  <div class="page-row">
    {% if not user.attendee.completed_registration %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>Register</h4>
      </div>
      <div class="panel-body">
        <p>To attend the conference, you must create an attendee profile and purchase your ticket</p>
        <a class="btn btn-lg btn-success" role="button" href="{% url "guided_registration" %}">Get your ticket</a>
      </div>
    </div>
    {% else %}
    <div class="col-xs-12 col-sm-6 col-lg-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>Attendee Profile</h4>
        </div>
        <div class="panel-body">
          <p>If you would like to change the details on your badge or your attendee statistics, you may edit your attendee profile up until the 15th January 2018</p>
          <a class="btn btn-lg btn-primary pull-left" role="button" href="{% url "user_badge" %}">Preview my badge</a>
          <a class="btn btn-lg btn-primary pull-right" role="button" href="{% url "attendee_edit" %}">Edit attendee profile</a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>Account Management</h4>
        </div>
        <div class="panel-body">
          <p>If you would like to change your registered email address or password, you can use our self-service account management portal</p>
          <a class="btn btn-lg btn-primary pull-right" role="button" href="https://login.linux.conf.au/manage/">Account Management</a>
        </div>
      </div>
    </div>
    
    {% items_pending as pending %}
    <div class="col-xs-12 col-sm-12 col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>Account</h4>
        </div>
        <div class="panel-body">
          
          {% if pending %}
          <div class="col-xs-12 col-sm-6 col-lg-6">
            <div class="panel panel-warning">
              <div class="panel-heading">
                <h5>Items pending payment</h5>
              </div>
              <div class="panel-body">
                {% include "registrasion/_items_list.html" with items=pending %}
                <div class="right">
                  <a class="btn btn-lg btn-success pull-right" role="button" href="{% url "checkout" %}">Check out and pay</a>
                </div>
              </div>
            </div>
          </div>
          {% endif %}
          
          {% items_purchased as purchased %}
          {% if purchased %}
          <div class="col-xs-12 col-sm-6 col-lg-6">
            <div class="panel panel-success">
              <div class="panel-heading">
                <h5>Paid Items</h5>
              </div>
              <div class="panel-body">
                {% include "registrasion/_items_list.html" with items=purchased %}
              </div>
            </div>
          </div>
          {% endif %}
          <div class="col-xs-12 col-sm-6 col-lg-6">
            <div class="panel panel-success">
              <div class="panel-heading">
                <h5>Add/Update Items</h5>
              </div>
              <div class="panel-body">
                {% include "registrasion/_category_list.html" with categories=categories %}
              </div>
            </div>
          </div>
          
          {% invoices as invoices %}
          {% if invoices %}
          <div class="col-xs-12 col-sm-12 col-lg-12">
            <div class="panel panel-info">
              <div class="panel-heading">
                <h5>Invoices</h5>
              </div>
              <div class="panel-body">
                <ul>
                  {% for invoice in invoices %}
                  {% if invoice.is_void %}
                  <li class="void-invoice" style="display: none;">
                    {% else %}
                    <li>
                      {% endif %}
                      <a href="{% url "invoice" invoice.id %}" >Invoice {{ invoice.id }}</a>
                      - ${{ invoice.value }} ({{ invoice.get_status_display }})
                    </li>
                    {% endfor %}
                  </ul>
                  <button id="toggle-void-invoices" onclick="toggleVoidInvoices();">Show void invoices</button>
                </div>
              </div>
            </div>
            {% endif %}
            
            {% available_credit as credit %}
            {% if credit %}
            <div class="col-xs-12 col-sm-12 col-lg-12">
              <div class="panel panel-danger">
                <div class="panel-heading">
                  <h5>Credit</h5>
                </div>
                <div class="panel-body">
                  <p>You have ${{ credit }} leftover from refunded invoices. This credit will be automatically applied to new invoices. Contact the conference organisers to for a refund to your original payment source.</p>
                </div>
              </div>
            </div>
            {% endif %}
            
          </div>
        </div>
      </div>
      
      {% endif %}
  </div>
</div>