<h3 class="text-upper">Speaker Profile</h3>
{% if not user.speaker_profile %}
<p>
  To create a speaking or miniconf proposal you must first create a speaker 
  profile.
</p>
{% endif %}
<p>
  Your speaker profile is independent of your attendee profile and the 
  details you provide here will be used during selection and to populate 
  your speaker bio on the conference website.
</p>
<div class="mt-auto">
  {% if not user.speaker_profile %}
  <a href="{% url "speaker_create" %}" class="btn btn-primary btn-lg" role="button">Create Profile</a>
  {% else %}
  <a href="{% url "speaker_edit" %}" class="btn btn-primary btn-lg" role="button">Edit Profile</a>
  {% endif %}
</div>