{% load i18n %}

<div class="row">
    <div class="col-12">
      <h2 class="text-primary mb-5">{% trans "Speaking and Miniconfs" %}</h2>
    </div>
</div>

<div class="row">
  {% if user.speaker_profile %}
  <div class="col-md-6 text-primary d-flex flex-column">
    {% include "symposion/dashboard/_new_proposal.html" %}
  </div>
  {% endif %}
  <div class="col-md-6 text-primary d-flex flex-column">
    {% include "symposion/dashboard/_profile.html" %}
  </div>
</div>