<div class="card border-primary mx-4 my-4">
    <div class="card-body">
        <h4 class="card-title text-primary">
            {{ team.name|title }}
        </h4>
        {% if membership %}
        <small class="badge float-right badge-pill badge-{% if membership.state == 'invited' %}info{% else %}primary{% endif %}">{{ membership.get_state_display }}</small>
        {% endif %}
        {% if team.description %}
        <p>{{ team.description }}</p>
        {% else %}
        <p>No team description available.</p>
        {% endif %}
    </div>
    <div class="card-footer bg-primary text-secondary">
        <a href="{% url "team_detail" team.slug %}">Details</a>
        {% if membership %}
        {% if membership.state == "manager" or user.is_staff %}
        {% if membership.team.applicants %}{{ membership.team.applicants.count }} applicant{{ membership.team.applicants.count|pluralize }}{% endif %}
        {% endif %}
        {% endif %}
    </div>
</div>
